/*http://www.colourlovers.com/palette/1930/cheer_up_emo_kid*/
/* 4ECDC4 - blue
C7F464 - apple green
FF6B6B - cheery pink
C44D58 - maroon*/

.map-canvas {
    height: 350px;
    background-color: #CCC;
  }

#map {
  /*border-radius: 8px;*/
  max-width: 785px;
  height: 350px;
  margin: auto;
  margin-bottom:30px;
}

.post-photo img {
  width: 500px;
  height: auto;
}

.post-container {
  width: 1000px;
}

.form-control {
  margin-bottom: 10px;
}

#footer{
  height: 50px;
}
