/*http://www.colourlovers.com/palette/1930/cheer_up_emo_kid*/
/* 4ECDC4 - blue
C7F464 - apple green
FF6B6B - cheery pink
C44D58 - maroon
18bc9c - original freelancer colour
*/
body {
  background-color: #4ECDC4;
}

.map-canvas {
    height: 350px;
    background-color: #CCC;
  }

#map {
  height: 350px;
  margin: auto;
  margin-top: 60px;
  margin-bottom:30px;
}

.post-photo {
  width: 100%;
  margin-bottom: 10px;
  height: auto;
}

.post-container {
  border: 3px solid #ECECEC;
  background-color:white;
  padding: 30px;
  margin-bottom: 30px;
}

.form-control {
  margin-bottom: 10px;
}

#footer{
  height: 30px;
}

.details-container {
  margin-top: 45px;
  padding: 30px 40px 30px 40px;
  background-color: white;
}

.address {
  font-size: 1.5em;
}
.distance {
  color: #969696;
}
.description {
  font-size: 1.5em;
}
.item{
  font-size: 1.25em;
  list-style-type: none;
}
.event-time {
    font-size: 2.5em;
}
