// <script>
//     function geoSuccess(position){
//       // function getlatlon
//       lat = Math.round(position.coords.latitude * 100) / 100;
//       long = Math.round(position.coords.longitude * 100) / 100;
//       latLong = lat + ',' + long;
//       console.log(lat, long);
//     };
//     // User has denied access to location or something else has gone wrong.
//     function geoError(err) {
//       // put a submit box on the page.
//       console.log(err);
//     };
//
//     $(document).ready(function(){
//       navigator.geolocation.getCurrentPosition(geoSuccess, geoError);
//     });
// </script>

<h3 class="explain">Find Pop-up shops happening now</h3>
<div class="container">
  <div class="row ">
    <div class="new_form col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
      <% if @message %>
        <%= @message %>
      <% end %>
    <form data-toggle="validator" role="form" class="form-inline" method="post" action="/session_location">
      <div class="form-group">
        <label>Where you at?</label>
        <input type="text" class="form-control" name="street_address" value="126 W Hastings" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="city" value="Vancouver" required>
      </div>
      <div class="form-group">
        <input type="submit" class="padding-top add-new salesubmit btn btn-primary" value="Submit">
      </div>
    </form>
  </div>
  </div>
</div>
